startProject/.vscode
startProject/CMakeFiles
startProject/cmake_install.cmake
startProject/CMakeCache.txt
startProject/CMakeLists.txt
startProject/Makefile
startProject/opencv_test
startProject/startProject
